.hero{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding-top:80px;
}

.hero-title{
  font-size:60px;
  color:#c9a84c;
}

.hero-sub{
  margin-top:20px;
  font-size:18px;
  color:#ccc;
}